.player {
  border: solid black;
  border-width: 2px;
  margin: auto;
  padding: 5px;
  width: 20%;
}

#playerCreate {
  border: solid black;
  border-width: 2px;
  padding: 5px;
  width: 20%;
}

#gameInterface {
  display: none;
  border: solid black;
  border-width: 2px;
  padding: 5px;
  width: 20%;
}

.btn {
  border: solid black;
  margin: auto;
}